*{
    text-align: center;
}

.card-deck{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 100px;
    justify-items: center;
    align-items: center;
}
.form{
    text-align: left;
    width: 200px;
    margin-left: 20px;
}
.details{
    margin-left: 20px;
}
.form-control{
    text-align: left;
}

#search{
    width: auto ;
}

@media only screen and (max-width: 600px){
    .card-deck{
        display:flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}
